body{
    background-color:#b0c4de;
}
.blank{
    width: 100%;
    height: 2px;
    margin: 0px;
    background-color:#b0c4de;
    display: inline-block;
}
.main-panel {
	width : 900px;
	padding: 30px 40px 30px 40px;	
	margin: 0 auto 0 auto;
	border: 1px solid black;
	border-radius: 6px; 
	box-shadow: 0 5px 20px black;  
	font-size: 1rem;
	font-family: Verdana, Georgia, Arial, sans-serif, "宋体";
	display: block;
	box-sizing: border-box;	
	overflow:auto;
    background-color:rgba(255,255,255,0.7);
}

.dadu {
    float: right;
}

.xiaodu {
    float: left;
}

.message{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
    background-color:#FFFFFF;
    border-radius: 6px;
	display:inline-block;
}

.message .icon{
	float: inherit;
	display: inline-block;
	height: 100px;
    width: 100px;
}

.message .icon img{
	margin-left:auto;
    margin-right: auto;
	display: block;
}

.message .message{
	float: inherit;
	margin: 5px;
	display: inline-block;
	width: 600px;
	padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px darksalmon;
}

.message-content {
    word-wrap:break-word;
}

.message-time {
    color: #AAAAAA;
    width: 100%;
    text-align: center;
}

.new-message {
    display: block;
    padding: 20px;
    margin-top: 60px;
    width: 60%;
    float: right;
    background-color: #5EA7BE;
    border-radius: 20px;
}

.new-message .message-body{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 0px
}

.new-message .message-author{
    display: inline-block;
    width: 150px;
    height: 24px;
    margin: 0px;
    border-radius: 6px;
    border: 1px solid pink;
    padding: 0px;
    text-align: center;
}

.new-message .message-button {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background-color:pink;
    border-radius: 6px;
    border: 1px solid pink;
    width: 120px;
    height: 26px;
    float: right;
}